img {
  width: 100%;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
  line-height: 40px;
}

h1 span {
  font-family: 'Cinzel', serif;
  font-size: 30px;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

section {
  border: 1px solid;
  width: 15%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

